body{
	background-color: rgb(190, 190, 84);
}

div.black_line{
	width: 100%;
	height: 200px;
	background-color: black;
	margin-top: 200px;
}

div.grey_circle{
	width: 400px;
	height: 400px;
	background-color: whitesmoke;
	border-radius: 400px;
	border: solid 30px grey;
}

div.black_circle{
	width: 150px;
	height: 150px;
	background-color: black;
	border-radius: 200px;
	margin-top: 250px;
}

/* *** Trabajar a partir de aquí *** */

/* Verde oscuro */
@media screen and (min-width: 1500px) {
	body {
		background-color: rgb(190, 190, 84);
	}
	div.black_circle{
		width: 150px;
		height: 150px;
		background-color: black;
		border-radius: 200px;
		margin-top: 250px;
	}
}

/* Turquesa */
@media screen and (min-width: 1000px) and (max-width: 1499px) {
	body {
		background-color: rgb(93, 193, 185);
	}
	div.black_circle{
		width: 150px;
		height: 150px;
		background-color: black;
		border-radius: 200px;
		margin-top: 125px;
		margin-right: 250px;
	}
}

/* Verde claro */
@media screen and (min-width: 600px) and (max-width: 999px) {
	body {
		background-color: rgb(119, 221, 119);
	}
	div.black_circle{
		width: 150px;
		height: 150px;
		background-color: black;
		border-radius: 200px;
		margin-top: 0px;
	}
}

/* Morado */
@media screen and (min-width: 0px) and (max-width: 599px) {
	body {
		background-color: rgb(204, 169, 221);
	}
	div.black_circle{
		width: 150px;
		height: 150px;
		background-color: black;
		border-radius: 200px;
		margin-top: 125px;
		margin-left: 250px;
	}
}